<div class="products">
  <div class="productList">
  {{#each prod}}
    <h3>{{name}}</h3>
    <ul class="productProps">
      <div>price : {{price}}</div>
      <div>inventory : {{inventory}}</div>
      <div>id : {{id}}</div>
    </ul>
    {{/each}}
  </div>
</div>